<ngx-smart-modal #helpDialog identifier="helpDialog">
  <div class="app-modal-body">
    <h1>Help</h1>
    <h5>What to use this for?</h5>
    <p>Point of this application is to help you create a world and characters within it.</p>
    <h5>How to add a new world?</h5>
    <p>Just click the green 'New World' button on the top left.</p>
    <h5>How to add characters to this world?</h5>
    <p>Select your new or existing world by clicking on it. A selection bar will appear on the left where you can get info about
      your world or look at the characters, countries and cultures you already created for this world. Select either of the
      four. A list with existing entries for this category will appear. If you want to add to it, press the green new button.
      A modal dialog will open for you.
    </p>
    <h5>Shoot! I made a mistake while creating a world or character!</h5>
    <p> Fear not! Please navigate to your world or character. You will have the option to either delete the entry completely
      or edit it.</p>
    <h5>Why can't I delete my horrible country or culture?</h5>
    <p>I am very sorry, but this function is not implemented yet. Stick with what you have, I bet it ain't so bad.</p>
  </div>
</ngx-smart-modal>
