<!--Top navigation-->
<nav class="navbar navbar-expand-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">WoBi</a>
  <div class="collapse navbar-collapse" id="navbarst">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="nav-item" id="createNewWorldControl">
      <a class="nav-link" href="#"  [routerLink]="['/worlds']" (click)="newWorld()">New World</a>
  </div>
  <ul class="nav nav-tabs" *ngFor="let world of worlds">
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['worlds', world._id]" routerLinkActive="active-link" (click)="loadWorld(world._id)">{{world.name}}</a>
    </li>
  </ul>
</div>

<app-detail-view [selectedWorldId]='selectedWorldId' *ngIf="selectedWorldId">
</app-detail-view>
<wobi-form [selectedInputCharacteristic]='selectedInputCharacteristic' (onClose)="loadWorlds()"></wobi-form>
