.row {
    margin-left: 1%;
}

/*Make it a dark theme*/
.container-fluid {
    background-color: lightgray;
    padding-top: 1%;
    min-height: 100%;
}

/*Adjust navbar, top, to go with dark theme*/
.navbar {
    background-color: gray;
}

.navbar a {
    color: firebrick;
    font-weight: bold;
    &:hover {
        color: black;
    }
}

.nav-tabs {
    background-color: lightgray;
    border-color: #191918 #191918 lightgray;
}

a {
    color: firebrick;
    &:hover {
        color: black;
    }
}

