<!--Top navigation-->
<nav class="navbar navbar-expand-md navbar-inverse bg-inverse">
  <a (click)="openNav()" id="world-select-open">&#9776; </a>
  <a class="navbar-brand" href="#">WoBi</a>
  <div class="collapse navbar-collapse" id="navbarst">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="ngxSmartModalService.getModal('helpDialog').open()">Help</a>
      </li>
    </ul>
  </div>
</nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="nav-link" (click)="newWorld()">New World</a>
  <ul *ngFor="let world of worlds">
    <a class="nav-link" [routerLink]="['worlds/', world._id, 'info']" routerLinkActive="active-tab" (click)="loadWorld(world._id)">{{world.name}}</a>
  </ul>
</div>

<div class="row" id="world-select-tabs">
  <div class="nav-item" id="createNewWorldControl">
    <a class="nav-link" (click)="newWorld()">New World</a>
  </div>
  <ul class="nav nav-tabs" *ngFor="let world of worlds">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['worlds/', world._id, 'info']" routerLinkActive="active-tab" (click)="loadWorld(world._id)">{{world.name}}</a>
    </li>
  </ul>
</div>

<app-wobi-form ></app-wobi-form>
<app-help-dialog ></app-help-dialog>
<router-outlet></router-outlet>