<ngx-smart-modal #neditFormModal [identifier]="'neditFormModal'">
  <div class="app-modal-body">
    <form [formGroup]="wobiForm">
      <div class="form-container">
        <div>
          <h2>My Reactive Form</h2>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Text</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" formControlName="name">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Description</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" formControlName="description">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default btn-sm" (click)="neditFormModal.close()">Close</button>
    <input type="submit" class="btn btn-success btn-sm" value="Submit Form" >
          <!--[disabled]="!wobiForm.valid"-->
  </div>
</ngx-smart-modal>