.container-fluid {
    padding-top: 5px;
}

/*Adjust navbar, side, to go with dark theme*/
.nav-link {
    &.active {
        color: #000000;
        background-color: rgba(233, 203, 203, 0.966);
        border-color: #191918 #191918 lightgray;
    }
}

.nav a {
    color: firebrick;
    &:hover {
        color: black;
    }
}

.sidebar {
    &.nav-link {
        &.active {
            background-color: darkgray;
        }
    }
}

/*Adjust list view to fit dark theme*/
.list-group-item {
    padding: 0.5rem 1rem;
}

.list-responsive {
    padding-top: 2%;
}

.form-check-input {
    margin-left: 0;
}