<!--Main stage. Everything beneath top nav-->
<div class="container-fluid">
  <div class="row">
    <!--Side navigation-->
    <nav class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#" [routerLink]="['/worlds']" routerLinkActive="active-link" (click)="loadWorld(_selectedWorldId)">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="[_selectedWorldId, 'characters']" routerLinkActive="active-link" (click)="loadCharacters(_selectedWorldId)">Character</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="[_selectedWorldId, 'cultures']" routerLinkActive="active-link" (click)="loadCultures(_selectedWorldId)">Cultures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="[_selectedWorldId, 'countries']" routerLinkActive="active-link" (click)="loadCountries(_selectedWorldId)">Countries</a>
        </li>
      </ul>
    </nav>

    <!--Main working area. Create new. Select  available. Get information. Edit. Delete.-->
    <main class="col-sm-9 col-md-9 pt-3">
      <h1>Info</h1>
      <!--Create new section-->
      <section class="row" *ngIf="selectedInputCharacteristic != 'world'">
        <div class="col">
          <button type="button" class="btn btn-success btn-md" (click)="ngxSmartModalService.getModal('neditFormModal').open()">New</button>
        </div>
      </section>
      <section class="row" *ngIf="selectedInputCharacteristic == 'world'">
        <div class="col">
          <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/']" (click)="deleteWorld(_selectedWorldId)">Delete world</button>
        </div>
      </section>

      <div class="list-responsive row col-sm-12 col-md-12">
        <!--List of available characters/countries/cultures-->
        <ul class="list-group-flush col-sm-5 col-md-3">
          <div *ngIf="selectedInputCharacteristic == 'character'">
            <ng-container *ngFor="let character of characters">
              <li class="list-group-item">
                <a class="" href="#" [routerLink]="[_selectedWorldId, 'characters', character._id]" (click)="loadCharacter(_selectedWorldId,character._id)">{{character.firstName}}</a>
              </li>
            </ng-container>
          </div>
          <div *ngIf="selectedInputCharacteristic == 'country'">
            <ng-container *ngFor="let country of countries">
              <li class="list-group-item">
                <a class="" href="#" [routerLink]="[_selectedWorldId, 'countries', country._id]" (click)="loadCountry(_selectedWorldId,country._id)">{{country.name}}</a>
              </li>
            </ng-container>
          </div>
          <div *ngIf="selectedInputCharacteristic == 'culture'">
            <ng-container *ngFor="let culture of cultures">
              <li class="list-group-item">
                <a class="" href="#" [routerLink]="[_selectedWorldId, 'cultures', culture._id]" (click)="loadCulture(_selectedWorldId,culture._id)">{{culture.name}}</a>
              </li>
            </ng-container>
          </div>
        </ul>

        <!--Area to display information about the selected element-->
        <div class="col-sm-7 col-md-9">
          <h3>About</h3>
          <table class="table table-sm">
            <!--tablebody for world-->
            <tbody *ngIf="selectedInputCharacteristic == 'world' && detailViewActivated">
              <tr>
                <th scope="row">Name</th>
                <td>{{world.name}}</td>
              </tr>
              <tr>
                <th scope="row">Work In Progress</th>
                <td>{{world.workInProgress}}</td>
              </tr>
            </tbody>
            <!--tablebody for country-->
            <tbody *ngIf="selectedInputCharacteristic == 'country' && detailViewActivated">
              <tr>
                <th scope="row">Name</th>
                <td>{{country.name}}</td>
              </tr>
              <tr>
                <th scope="row">System</th>
                <td>{{country.system}}</td>
              </tr>
            </tbody>
            <!--tablebody for culture-->
            <tbody *ngIf="selectedInputCharacteristic == 'culture' && detailViewActivated">
              <tr>
                <th scope="row">Name</th>
                <td>{{culture.name}}</td>
              </tr>
            </tbody>
            <!--tablebody for character-->
            <tbody *ngIf="selectedInputCharacteristic == 'character' && detailViewActivated">
              <tr>
                <th scope="row">First Name</th>
                <td>{{character.firstName}}</td>
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td>{{character.lastName}}</td>
              </tr>
              <tr>
                <th scope="row">Age</th>
                <td>{{character.age}}</td>
              </tr>
              <tr>
                <th scope="row">Culture</th>
                <td>{{character.culture}}</td>
              </tr>
              <tr>
                <th scope="row">Status</th>
                <td>{{character.status}}</td>
              </tr>
            </tbody>
          </table>
          <div></div>
          <div class="container text-right" *ngIf="selectedInputCharacteristic == 'character' && detailViewActivated">
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteCharacter(_selectedWorldId,character._id)">Delete</button>
            <button type="button" class="btn btn-light btn-sm">Edit</button>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
<wobi-form [selectedWorldId]='_selectedWorldId' [selectedInputCharacteristic]='selectedInputCharacteristic'></wobi-form>
